* {
  font-family: "Anton", sans-serif;
  font-family: "Monoton", sans-serif;
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
